body {
  color: #ffffff;
  background: #1b1b1a;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
  width: 606px;
  height: 80px;
  background: #1b1b1a;
  box-shadow: -7px 7px 14px rgba(11, 11, 10, 0.2),
    7px -7px 14px rgba(11, 11, 10, 0.2), -7px -7px 14px rgba(43, 43, 42, 0.9),
    7px 7px 18px rgba(11, 11, 10, 0.9), inset 1px 1px 2px rgba(43, 43, 42, 0.3),
    inset -1px -1px 2px rgba(11, 11, 10, 0.5);
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 20.1339px;
  line-height: 124.3%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #a40606;
}

/* header */

.header {
  display: flex;
}
.block {
  display: block;
}
.logo {
  margin-left: 368px;
}
.nav__item {
  display: flex;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 300;
  font-size: 17.2951px;
  line-height: 17px;
  margin-top: 17px;
  margin-left: 44px;
  margin-bottom: 39px;

  color: #f07c00;
}
.nav__item li {
  margin-right: 54px;
}

.point-menu-2 {
  display: flex;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 7px;
}
.point-menu-2 li {
  margin-right: 60px;
}

/* hero */

.hero {
  margin-left: 412px;
  background-image: url(./images/2020.11\ 1.jpg);
  width: 1527.94px;
  height: 740.02px;
}
.hero__text span {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 29.9301px;
  line-height: 30px;
  letter-spacing: 0.35em;
  text-transform: capitalize;
}
.hero__text {
  /* width: 1035px;
  height: 148px; */
  padding-top: 125px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 300;
  font-size: 24.9418px;
  line-height: 25px;
  text-transform: lowercase;
  color: #ffffff;
}

/* progects */

.progects {
  display: flex;
  margin-left: 327px;
  margin-top: 91px;
  margin-bottom: 106px;
}
.progects li {
  margin-right: 28px;
}

/* about */

.about {
  width: 1234px;
  height: 573px;
  box-shadow: 0.973186px 0.973186px 1.94637px rgba(43, 43, 42, 0.3),
    -0.973186px -0.973186px 1.94637px rgba(11, 11, 10, 0.5),
    inset -8.75868px 8.75868px 17.5174px rgba(11, 11, 10, 0.2),
    inset 8.75868px -8.75868px 17.5174px rgba(11, 11, 10, 0.2),
    inset -8.75868px -8.75868px 17.5174px rgba(43, 43, 42, 0.9),
    inset 8.75868px 8.75868px 22.3833px rgba(11, 11, 10, 0.9);
  margin-left: 343px;
}
.about__block {
  display: flex;
}
.about img {
  margin-top: 27px;
  margin-left: 33px;
}
.about__founder {
  margin-top: 55px;
  margin-left: 103px;
  margin-right: 88px;
  justify-content: center;
  text-align: center;
}
.founder__title {
  margin-bottom: 37px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 300;
  font-size: 25.8937px;
  line-height: 101.76%;
  text-align: center;
  letter-spacing: 0.175em;

  color: #ffffff;
}
.founder__name {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 39.5834px;
  line-height: 34px;
  letter-spacing: 0.275em;

  color: #c06402;
  margin-bottom: 37px;
}
.founder__text,
.founder__text1 {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  text-align: justify;

  color: #ffffff;
}
.founder__text {
  margin-bottom: 30px;
}
.founder__text1 {
  margin-bottom: 70px;
}

/* desingery */

.desingery__title {
  content: no-repeat;
  display: block;
  background-image: url(./images/image-2.jpg);
  width: 1097.71px;
  height: 531px;
  margin-left: 255px;
  margin-top: 128px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  padding-top: 206px;
  padding-left: 83px;
}
#foto1,
#foto2,
#foto3 {
  position: relative;
  background-color: transparent;
  width: 90%;
}
#foto2 {
  width: 413.68px;
  height: 576.91px;
  top: -530px;
  left: 60px;
  color: #1b1b1a;
}
#foto3 {
  width: 413.68px;
  height: 576.91px;
  top: -980px;
  left: 140px;
  color: #1b1b1a;
}
